<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="box">
			<input type="radio" id="one" value="One" v-model="picked">
			<label for="one">One</label>
			<br>
			<input type="radio" id="two" value="Two" v-model="picked">
			<label for="two">Two</label>
			<br>
			<span>Picked: {{ picked }}</span>
		</div>
	</body>
	<script src="http://static.runoob.com/assets/vue/1.0.11/vue.min.js"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el: '#box',
			data:{
				message:'welcome Vue',
				checkbox: false
			}
		})
	</script>
</html>
